* {
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 100px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
    background-color: #37276e;
    text-decoration: none;
  }
  nav.active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.157);
    background-color: #37276e;
  }
  nav ul {
    display: flex;
    text-decoration: none;

  }
  nav ul li a {
    font-family: "Roboto", sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #e94b27;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(255, 250, 250, 0.801);
    transition: all ease 0.2s;
  }
  select {
    appearance: none;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 1em 0 0;
    margin: 3px;
    width: 100%;
  
    outline: none;
  }
  .logo img {
    width: 150px;
  }
  .select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    color: #ffffff;
  }
  .select :hover {
    background-color: #e94b27;
    color: #ffffff;
  }
  .select option {
    font-size: 20px;
    color: #ffffff;
  }
  
  nav .menu-btn,
  .menu-icon {
    display: none;
    color: #ffffff;
  }


  

  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (width : 667px) 
  and (height : 375px) 
  and (orientation : landscape) 
  and (color : 8)
  and (device-aspect-ratio : 375/667)
  and (aspect-ratio : 667/375)
  and (device-pixel-ratio : 2)
  and (-webkit-min-device-pixel-ratio : 2)
{ 
    body{
      overflow-x: hidden;
    }
    .menu-icon {
      display: block;
    }
    .cover VideoLooper{
      width:600px;
      height: 400px;
    }
    nav {
      justify-content: space-between;
      height: 65px;
      padding: 0px 30px;
      display: block;
    }
    .select{
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto ;
    
  
    }
  
    .select-style {
      
      justify-content: center;
      align-items: center;
      display: block;
      margin-left: auto;
      margin-right: auto ;
      padding-left:5%;
      width: 55%;
      
    }
    .logo img {
       width: 120px;
    
    }
    .header-btns {
      margin: 0;
    }
    .pr-btns {
      margin: 0;
    }
    .menu {
      display: none;
      position: absolute;
      top: 65px;
      left: 0px;
      background-color: rgb(190, 189, 189);
      border-bottom: 1px solid #727272;
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .menu li {
      width: 100%;
    }
    nav .menu li a {
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 25px;
      border: 1px solid rgba(38, 38, 38, 0.03);
    }
    nav .menu-icon {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
      color: #ffffff;
    }
    nav .menu-icon .nav-icon {
      background-color: #ffffff;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 24px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after {
      background: rgb(255, 255, 255);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all ease-out 0.2s;
      width: 100%;
    }
    nav .menu-icon .nav-icon:before {
      top: 6px;
      background-color: #fff;
    }
    nav .menu-icon .nav-icon:after {
      top: -6px;
      background-color: #fff;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
      background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
      transform: rotate(-45deg);
      top: 0;
      background-color: #ffffff;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
      transform: rotate(45deg);
      top: 0;
      background-color: #ffffff;
    }
    nav .menu-btn {
      display: none;
    }
    nav .menu-btn:checked ~ .menu {
      display: block;
    }
  }
  @media (max-width: 400px) {
    .a-box {
      width: 100%;
      height: 400px;
    }
  }
